html,
body {
  min-width: 290px;
  color: #000000;
  background-color: #E3CAA5;
  font-family: monospace, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;
}

#navbar {
  position: fixed;
  border-left: 7px dashed rgb(116, 76, 76);
  padding-left: 10px;
  min-width: 250px;
  top: 0px;
  right: 0px;
  width: 250px;
  height: 100%;
  border-right: 7px dashed rgb(116, 76, 76) ;
  
}

header {
    text-transform: uppercase;
  color: black;
  margin: 10px;
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  border-bottom: 5px dotted rgb(116, 76, 76);
  width: 500px;
  padding-bottom: 10px;
  
}
#js{
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    line-height: 30px;
    width: 240px;
    border: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(116, 76, 76);
}
.js {
    font-size: 4rem;
    width: 50px;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: rgb(116, 76, 76);
    padding-bottom: 5px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#main-doc header {
  text-align: left;
  margin: 0px;
}

#navbar ul {
  height: 95%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  
  border-bottom: 5px solid rgb(0, 0, 0);
  background-color: #9b755b;
  border-radius: 20px;
  margin-bottom: 3px;
  list-style: none;
  position: relative;
  width: 95%;
  
}

#navbar a {
    text-align: center;
  display: block;
  padding: 10px 5px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

#main-doc {
    margin-top: 70px;
  position: absolute;
  margin-right: 290px;
  padding: 20px;
  margin-bottom: 110px;
  padding-right: 0%;
  font-size: 18px;
  
  
}

section article {
  color: #4d4e53;
  margin: 15px;
  font-size: 0.96em;
}

section li {
  margin: 15px 0px 0px 20px;
}

code {
  display: block;
  width: 600px;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: rgba(116, 76, 76, 0.486);
  padding: 15px;
  padding-left: 50px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

@media only screen and (max-width: 815px) {
  /* For mobile phones: */

  * {
      margin: 0%;
      padding: 0%;
  }
  #navbar ul {
      width: 100%;
      height: 500px;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-auto-rows: 40px;
      
  }
  #navbar {
    
    margin-top: 0px;
    height: auto;
    margin-left: 0%;
    position: relative;
    margin: 0;
    width: 100%;
    max-height: 200px;
    border: none;
    z-index: 1;
    
  
  }
  .nav-link {
     
      font-size: 12px;
      
  }

  #main-doc {
      width: 90%;
    position: relative;
    margin-left: 10px;
    margin-top: 160px;
  }
  #js {
      height: 100px;
     margin: 0%;
      width: 100%;
      padding: 0%;
      margin-left: 0;
  }
  .js {width: 80px;
      display: block;
      margin-top: 20px;
      font-size: 72px;
  }

  code {

    width: 80%;
  }

  header {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}

@media only screen and (min-width: 400px) {
 
 
  
}
